@()

<div class=" container-fluid" class = "welcome"style=" background-color:	#B0B0B0 ">
    <div class = "row"><header class="text-center text-info">
        <h1>WELCOME TO THE PLAY ASSIGNMENT PAGE!!!</h1>
    </header>
    </div>
    <br><br>
    <div class="row text-center text-success" >
        <h2> Please Login/SignUp To View Your Profile</h2>
    </div><br><br><br><br>

    <div class="row text-center">
        <div class="col-md-6"><input type="button" class ="btn-success btn-lg" onclick="" value="Login" id="b2"></div>
        <div class="col-md-6"><input type="button" class ="btn-success btn-lg"  value="Signup" id="b1"></div>
        <br><br>


    </div>

</div>